/* acera de */

.acerca-de {
    background-color: var(--primario);
    text-align: center;
}
.acerca-de p {
    color: var(--gris);
    font-size: 2rem;
}

.acerca-de img {
    border-radius: 50%;
}

.acerca-de h2 {
    padding-top: 6rem;
}

.acerca-de span {
    color: var(--secundario);
}

.acerca-de a {
    color: var(--secundario);
}

.acerca-de i {
    color: var(--gris);
    font-size: 5rem;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.acerca-de i:hover {
    transform: scale(1.2);
    color: var(--blanco);
  
}

@media(min-width:768px){
    .acerca-de {
        background-color: var(--primario);
        color: var(--blanco);
        text-align: center;
    }
    
    .acerca-de img {
        border-radius: 50%;
    }
    
    .acerca-de a {
        color: var(--secundario);
    }
    
    .acerca-de i {
        font-size: 5rem;
    }
}