/* datos de contacto */

.fondo {
    background-image: url('/assets/img/19_1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    width: 100%;
}

.formulario-contacto{
    padding-top: 5rem;
}

.informacion-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.informacion-contacto, .formulario{
    flex: 0 0 calc(50% - 1rem);
}

.titulo-fantasma {
    font-size: 4rem;
    font-family: var(--titulos);
    color: var(--secundario);
    text-align: center;
    padding-top: 3rem;

}

.informacion-contacto{
    background-color: var(--primario);
    padding: 1rem;
}

.informacion-contacto p {
    color: var(--gris);
}

.redes-sociales i {
    color: var(--blanco);
}

.informacion-contacto h2{
    font-family: var(--titulos);
    color: var(--secundario);
}

.informacion-contacto p{
    font-size: 2rem;
    text-align: center;
}

.informacion-contacto i{
    margin-right: 1rem;
}

.redes-sociales {
    font-size: 3rem;
    margin-top: 3rem;
}

.redes-sociales i {
    font-size: 3rem;
    margin-top: 1.2rem;
    margin-right: 3rem;
    padding-bottom: 5rem;
}

/* formulario*/

.formulario {
    background-color: var(--primario);
    width: 100%;
    max-width: 1000px;
    padding: 0rem 3rem;
    text-align: center;
}

#form-contacto {
    display: grid;
    gap: 3rem;
}

.input-formulario {
    position: relative;
    color: var(--danger);
}

input {
    width: 100%;
    background: none;
    color: var(--blanco);
    font-size: 1.7rem;
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secundario);
    font-family: var(--parrafos);
}

textarea {
    width: 100%;
    background: none;
    color: var(--blanco);
    font-size: 1.7rem;
    height: 30px; 
    margin-top: 10px;
    overflow: hidden; 
    padding: 1rem 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--secundario);
    font-family: var(--parrafos);
}

input:focus + .label-animado,
input:not(:placeholder-shown) + .label-animado,
textarea:focus + .label-animado,
textarea:not(:placeholder-shown) + .label-animado {
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: var(--secundario);
}
.label-animado {
    font-size: 2rem;
    font-family: var(--parrafos);
    color: var(--gris);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

.btn-nuevo {
    width: 100%;
    height: auto;
}

@media(min-width: 768px) {
    #form-contacto {
        gap: 5rem;
    }

    .informacion-contacto h2{
        margin-top: 0;
    }
    
    .informacion-contacto p{
        font-size: 2rem;   
    }

    .redes-sociales{
        padding-top: 5rem; 
    }

    .formulario-contacto{
        display: flex;
    }

    .titulo-fantasma {
        display: none;
    }

    .formulario {
        padding: 10rem 9rem;
        padding-left: 0;
    }
}

/* mensajes */

.error {
    display: block; 
    font-size: 1.7rem;
    font-family: var(--parrafos);
    color: var(--danger);
}  

.exito {
    display: block;
    color: var(--blanco);
    font-size: 1.7rem;
    text-align: center;
    border-radius: 5px;
    font-family: var(--parrafos);
    background-color: var(--success);
} 

