.footer{
    text-align: center;
    background-color: var(--oscuro);
    color: var(--gris);
    padding-top: 3rem;
    font-size: 1.7rem;
    padding-bottom: 2rem;
}

.footer p {
    margin-top: 1rem;
}

.footer span {
    color: var(--secundario);
}

@media(min-width:768px){
    .footer{
        margin-top: 5rem; 
    }
}