/*  globales*/

:root {
    --primario: black;
    --secundario: rgb(6, 154, 246);
    --blanco: white;
    --oscuro: #000;
    --gris: dimgrey;
    --degrade-claro: linear-gradient(to right, var(--primario), var(--secundario), var(--primario));
    --degrade-oscuro: linear-gradient(to right, var(--primario), var(--gris), var(--primario));
    --success: green;
    --danger: red;
    --titulos: 'Belleza', sans-serif;
    --parrafos:'Montserrat',sans-serif;   

}

html{
    box-sizing: border-box;  
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.6rem;
    overflow-x: hidden; 
    background-color: var(--primario);   
    color: var(--blanco);
}

*,*::after, *::before{
    box-sizing: inherit;
}

a {
    text-decoration: none;  
}

h1, h2, h3 {
    font-family: var(--titulos);
    font-weight: bold;
    color: var(--secundario);
}

h2 {
    font-size: 4rem;
}

p, a {
    font-family: var(--parrafos);
}

p {
    line-height: 1.5;
}

.primario {
    color: var(--primario);
    white-space: nowrap;
}

.secundario {
    color: var(--secundario);
}

.ocultar{
    display: none;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

img {
    max-width: 100%;
}

.btn-nuevo{
    text-decoration: none;
    color: var(--blanco);
    font-size: 1.8rem;
    text-transform: capitalize;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background: var(--degrade-claro);
}

.btn-nuevo:hover {
    filter: brightness(150%);
    color: var(--primario);
}

.btn-banner {
    display: inline-block;
    color: var(--blanco);
    font-size: 2rem;
    border: 5px solid var(--blanco);
    padding: 1rem 6rem;
    margin: 3rem;
    justify-content: center;
    border-radius: 5px;
    transition: all 0.3s;
}

.btn-banner:hover {
    color: var(--blanco);
    font-weight: bold;
    border: 5px solid var(--secundario);
    background-color: var(--primario);
}

section[id] {
    scroll-margin-top: 8rem;
}
