/*  globales*/

:root {
    --primario: black;
    --secundario: rgb(6, 154, 246);
    --blanco: white;
    --oscuro: #000;
    --gris: dimgrey;
    --degrade-claro: linear-gradient(to right, var(--primario), var(--secundario), var(--primario));
    --degrade-oscuro: linear-gradient(to right, var(--primario), var(--gris), var(--primario));
    --success: green;
    --danger: red;
    --titulos: 'Belleza', sans-serif;
    --parrafos:'Montserrat',sans-serif;   

}

html{
    box-sizing: border-box;  
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    overflow-x: hidden; 
    background-color: var(--primario);   
    color: var(--blanco);
}

@media(max-width:950px){
    body {
        padding-top: 10rem;
    }
}

*,*::after, *::before{
    box-sizing: inherit;
}

a {
    text-decoration: none;  
}

h1, h2, h3 {
    font-family: var(--titulos);
    font-weight: bold;
    color: var(--secundario);
}

p, a {
    font-family: var(--parrafos);
}

.primario {
    color: var(--primario);
    white-space: nowrap;
}

.secundario {
    color: var(--secundario);
}

.ocultar{
    display: none;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

img {
    max-width: 100%;
}

.btn-nuevo{
    text-decoration: none;

    color: var(--blanco);
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 0.8em 3em;
    margin-bottom: 2rem;
    border: 0;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background: var(--degrade-claro);
}

.btn-nuevo:hover {
    filter: brightness(150%);
    color: var(--primario);
}


