/* habilidades */

.habilidades {
    padding: 3rem;
    background-color: var(--primario);
    position: relative;
}

.habilidades-contenedor {
    text-align: center;
}

.habilidades-contenedor h2 {
    line-height: 7rem;
    color: var(--secundario);
    padding: 0;
    margin-bottom: 1rem;    
}

.tecnologias {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
}
  
.tecnologia {
    text-align: center; 
}

.tecnologia img {
    width: auto;
    height: 5rem;
    margin-top: 3rem;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.tecnologia img:hover {
    transform: scale(1.6);
}

.tecnologias h3 {
    display: block;
    color: var(--primario);
} 

.tecnologias-jquery h3 {
    display: block;
    color: var(--primario);
}

@media(min-width:768px){
    .habilidades {
        padding: 5rem 0;
    }

    .habilidades-contenedor h2 {
        padding: 0 25rem;  
    }

    .tecnologias {
        display: grid;
        grid-template-columns: repeat(9, 1fr); 
        gap: 2rem; 
    }

    .tecnologia h3 {
        color: var(--gris);
    }
}