/* barra de navegacion */

.banner {
    background-color: var(--primario);
    box-shadow: 0 4px 5px var(--secundario);
    left: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;  
}

.contenedor-navegacion {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
    z-index: 3;    
}

/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo img {
    border-radius: 50px;    
}

.logo h1 {
    padding: 0 2rem;
    color: var(--blanco);
}

/* menu */

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 0 1rem;
}

.menu a {
    color: var(--secundario);
    font-size: 2rem;
    transition: color .2s ease-in-out;
} 

.menu a:hover {
    color: var(--blanco) 
}
  
.menu a:active {
    color: var(--secundario) 
}

.hamburguesa {
    align-items: center;
}

.hamburguesa span {
    background-color: var(--secundario);
    display: block;
    width: 5rem;
    height: .5rem;
    margin-bottom: .5rem;
}

.btn-cerrar{
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    color: var(--secundario);
    position: absolute;
    top: 0;
    right: 50px;
    user-select: none;
}

.hamburguesa, .btn-cerrar {
    display: none;
}

@media(max-width:768px){
    .menu {
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--oscuro);
        height: 100%;
        overflow-y: auto;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s; 
    }
    
    .menu li {
        padding: 0;  
    }

    .menu li:first-child {
        margin-top: 6rem;
    }
    
    .menu a {
        color: var(--secundario);
        line-height: 6rem;
    } 
    
    .hamburguesa {
        padding-left: 85px;
    }

    .btn-cerrar {
        margin-top: 40px;
        font-family: var(--parrafos);
    }

    .hamburguesa, .btn-cerrar {
        display: block;
    }
    
    .btn-cerrar {
        align-self: flex-end;
        cursor: pointer;
        padding: 0 1.5rem;
    }

    .menu_abierto {
        opacity: 1;
        pointer-events: all;
    }
}