.proyectos {
    padding: 2rem 0;
    background-color: var(--primario);
    position: relative;

}

.proyectos-contenedor {
    text-align: center;
}

.proyectos-contenedor h2 {
    font-size: 4.5rem;
    font-family: var(--titulos);
    line-height: 7rem;
    color: var(--secundario);
    margin-bottom: 1rem;
}

.proyectos-texto {
    line-height: 1.5;

}

.proyectos-texto span {
    color: var(--secundario);
    font-weight: bold;
}

.texto-proyecto span {
    color: var(--secundario);
    font-weight: bold;
}

.proyectos-contenedor p {
    font-size: 1.8rem;
    font-family: var(--parrafos);
    color: var(--blanco);
    padding: 0 2rem;
    margin-bottom: 3rem;
}

.proyectos-trio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.proyecto {
    width: 1000px;
    border-radius: 5px;
    text-align: center;
    padding: 0;
    margin: 20px;
}
.proyecto img {
    width: 40rem; 
    height: 23rem; 
    border-radius: 1rem;
    border: 0.5rem solid var(--gris);
}

.texto-proyecto {
    width: 35rem;
    height: 13rem;
    padding: 0;
    margin: auto;
    margin-bottom: 2rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.proyecto h3 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--secundario);
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-family: var(--titulos);
}

.botones {
    display: flex;
    justify-content: space-between;
}

@media(max-width:991px){
    .proyectos-contenedor h2 {
        padding: 0;
        color: var(--secundario);
        font-size: 3.5rem;
    }

    .proyectos-trio {
        flex-direction: column; 
        align-items: center; 
    }

    .proyecto {
        width: 100%; 
        margin: 10px 0; 
        padding: 0.5rem; 
    }

    .btn-nuevo {
        width: 150px;
        font-size: 1.2rem;
    }
}

